@tailwind base;
@tailwind components;
@tailwind utilities;

/* Anpassa färgschemat enligt din design */
:root {
  --primary-color: #007bff; /* Blå */
  --hover-color: #0056b3; /* Mörkare blå */
  --text-color: #000; /* Svart */
  --background-start: #d6dbdc; /* Ljusgrå */
  --background-end: #fff; /* Vit */
}

/* Mörkt tema */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white; 
    --background-start: #000; /* Svart */
    --background-end: #000; /* Svart */
  }
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
}

/* Navigation styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left, .nav-right {
  display: flex;
}

/* Specifika stilar för vänster länk */
.nav-left a {
  margin-right: auto; /* Skjuter allt i .nav-right till höger */
  font-weight: bold; /* Gör texten fetare om det önskas */
  text-decoration: none; /* Tar bort understrykning */
  font-size: 1rem; /* Ställ in önskad storlek */
}

/* Specifika stilar för höger länkar */
.nav-right a {
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 10px; /* Lägger till utrymme mellan länkarna */
}

/* För att lägga till en hover-effekt på länkarna */
.nav-container a:hover {
  color: var(--primary-color); /* Färgändring vid hover */
}


.btn {
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block; /* Lägg till detta för att korrigera positionering */
  margin-top: 20px; /* Justera avståndet till överliggande element */
}

.link {
  color: var(--foreground-rgb); /* Sätter färgen till svart (eller vad nu --foreground-rgb är satt till) */
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem; /* Anpassa storleken efter din design */
  display: inline-block; /* Lägg till detta om du vill justera positionering */
  margin-right: 15px; /* Justera avståndet mellan länkar */
}

link, .home2-link{
  margin-top: 20px;
}

/* Stilar för hover-effekter */
.btn:hover, .btn:focus {
  background-color: #0056b3; /* Mörkare blå när knappen är hoverad eller fokuserad */
  color: white; /* Vit text vid hover */
  outline: none;
}

/* Ta bort hover-effekter för .link */
.link:hover, .link:focus {
  color: var(--foreground-rgb); /* Behåller färgen svart */
  text-decoration: underline; /* Om du vill ha en indikator på att det är en länk, annars ta bort denna rad */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 1rem; /* Adjust the spacing between images as needed */
}

.gallery-image {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover; /* Cover the area without stretching the image */
}


/* Används för att korrigera layouten för kategori-länkar om de är knappar */
.category-links {
  text-align: center;
  margin-top: 20px; /* Lägg till önskat avstånd från "Explore Works"-knappen */
}

/* Om du vill att kategori-länkarna ska ha lite utrymme mellan dem */
.category-link:not(:last-child) {
  margin-right: 15px;
}

/* Anpassar storleken på kategoriknapparna */
.category-link {
  padding: 8px 20px; /* Mindre än .btn om du vill */
  font-size: 0.875rem; /* Mindre än .btn om du vill */
}


/* Anpassar .posts-container för att använda grid layout */
.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ändra 250px till önskad minsta bredd */
  gap: 1rem; /* Detta är avståndet mellan grid-elementen */
}

/* Stilar för varje grid-element som innehåller bild och text */
.post-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Gör så att bilden inte går utanför sin container */
}

/* Stilar för bilder för att göra dem kvadratiska och centrerade */
.post-item img {
  width: 100%; /* Fyller bredden av sin container */
  height: 0; /* Sätter en initial höjd till 0 */
  padding-top: 100%; /* Padding-top på 100% av bredden ger en kvadratisk bild */
  object-fit: cover; /* Ser till att bilden täcker hela utrymmet utan att förvrängas */
  position: absolute; /* Positionerar bilden absolut inuti sin container */
}

/* Stilar för bild-containern för att göra den kvadratisk och relativt positionerad */
.post-item .image-container {
  width: 100%; /* Fyller bredden av sin container */
  padding-top: 100%; /* Skapar en kvadratisk container */
  position: relative; /* Gör det möjligt att absolut positionera bilden inuti */
}

/* Exempel på en titelstil under bilden */
.post-title{
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}

p{
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}