@tailwind base;
@tailwind components;
@tailwind utilities;

/* Anpassa färgschemat enligt din design */
:root {
  --primary-color: #007bff; /* Blå */
  --hover-color: #0056b3; /* Mörkare blå */
  --text-color: #000; /* Svart */
  --background-start: #d6dbdc; /* Ljusgrå */
  --background-end: #fff; /* Vit */
}

/* Mörkt tema */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff; /* Vit */
    --background-start: #000; /* Svart */
    --background-end: #000; /* Svart */
  }
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom, var(--background-start), var(--background-end));
}

/* ... andra stilar ... */

.btn {
  padding: 10px 25px;
  background-color: var(--primary-color);
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block; /* Lägg till detta för att korrigera positionering */
  margin-top: 20px; /* Justera avståndet till överliggande element */
}

.link {
  color: var(--foreground-rgb); /* Sätter färgen till svart (eller vad nu --foreground-rgb är satt till) */
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem; /* Anpassa storleken efter din design */
  display: inline-block; /* Lägg till detta om du vill justera positionering */
  margin-right: 15px; /* Justera avståndet mellan länkar */
}

link, .home2-link{
  margin-top: 20px;
}

/* Stilar för hover-effekter */
.btn:hover, .btn:focus {
  background-color: #0056b3; /* Mörkare blå när knappen är hoverad eller fokuserad */
  color: white; /* Vit text vid hover */
  outline: none;
}

/* Ta bort hover-effekter för .link */
.link:hover, .link:focus {
  color: var(--foreground-rgb); /* Behåller färgen svart */
  text-decoration: underline; /* Om du vill ha en indikator på att det är en länk, annars ta bort denna rad */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  gap: 1rem; /* Adjust the spacing between images as needed */
}

.gallery-image {
  width: 100%; /* Makes the image responsive */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover; /* Cover the area without stretching the image */
}
